.body {
	font-family: Helvetica Neue, Helvetica, sans-serif;  
	height: 100%;
	overflow: hidden;

}
p{
	text-align: center !important;
}


.menu{
	
	margin: 12px 0px;
}
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 0.5px !important;
}

@media screen and (min-width: 768px){
.menu{
    transform: skew(-25deg);
}    
.choice{
    transform: skew(25deg);
}

.menu .menu-button:first-child {
	border-radius: 9px 0 0 9px;
}

.menu .menu-button:last-child {
	border-right: none;
	border-radius: 0 9px 9px 0;
}

.navbar {
    border-radius: 0px;
}
.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 6px;
}
}



.navbar-default{

	/*background: #248bc6;*/
	background: rgba(231, 231, 231, 0.58);


}

.navbar{
	border: none;
	margin: 0;
}

.navbar-brand{
	/* height: 130px; */
	padding: 0px;
}

.menu-button {
	background: #da6e2e;
	border-right: 1px solid #eee;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	color: #555;
	font-weight: bolder;
	transition: all 0.5s linear;
}

.menu-button:hover .choice {  
	color: #51a593 !important;
}

.menu-button:hover{
	background: rgba(36, 41, 41, 0.83) !important;
}

.menu .menu-button .choice {

	color:#050c17;
	text-decoration: none;
	background: transparent;
}	


.navbar-default .navbar-nav>.open>a:active, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {    
	background: transparent !important;
	
}

a, .site-link a:visited{
	color: #888;
	font-size: 10px;
	font-family: arial, sans-serif;
	margin-right: 10%;
	text-decoration: none;
	cursor: pointer;
}

.images{
	margin-bottom: 6px;	
}

.footer-bar{
	width: 100%;
	height: 33px;
	line-height: 33px;
	background: rgba(231, 231, 231, 0.58);
	border-top: 2px solid #888888;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.footer-bar-home{
	width: 100%;
	height: 50px;
	line-height: 33px;
	background: #23292f;
	border-top: 2px solid #111111;
	bottom: 0;
	left: 0;
}
.footer-bar .article-wrapper,
.footer-bar-home .article-wrapper {
	font-family: arial, sans-serif;
	font-style: normal;
	font-size: 14px;
	color: #da6e2e;	
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background: rgb(231, 231, 231);
}
.footer-bar .article-link a,.footer-bar .article-link a:visited {
	text-decoration: none;
	color: #fff;	
}









